:root{

--framewidth: clamp(500px, 60%, 700px);
}

* {
    margin: 0;
    padding: 0;
}
body {
    background: darkred;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
body, html {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.container {
    display: grid;
    grid-template:  1fr 3fr 1fr / 1fr;
    align-items: center;
    flex-grow: 1;
    /*justify-content: space-around;*/
    background: red;
    /*flex-flow: column;*/
    width: 75%;
    height: 100%;
}
.frame {
    background: black;
    height: 80%;
    min-width: var(--framewidth);
    display: flex;
    align-items: center;
    /*padding-left: 44px;*/
    overflow-x: scroll;
}
.frame::-webkit-scrollbar{
    width: 10px;

}
.frame::-webkit-scrollbar-track {
    background: dimgray;
}
.frame::-webkit-scrollbar-thumb {
    background: darkslategray;
    /*border: 1px solid lightsteelblue;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.picture {
    min-width: 80%;
    height: 80%;
    margin: 40px;
    background: darkolivegreen;
}
.arrow{
    border: 1px solid darkgray;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 8px;
}
.arrow:hover{
    background: darkgray;
    background-opacity: .3;
    transition: background-color .7s;
}

.center-container {
    /*background: #000;*/
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.top-container {
    background-color: darkgray;
    width: 100%;
    height: 100%;
}
.bottom-container {
    background: #000;
    align-self: center;
    justify-self: center;
    flex-grow: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.index-container {
    width: var(--framewidth);
    height: 60%;
    background: red;
    display: flex;
    /*gap: 1rem;*/
    justify-content: space-around;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

.index-container > * {
    width: 40px;

    height: 40px;
    background: #000;
    padding: 8px;
}
.selected {
    background: green;
}